# Secrets and credentials
settings.toml

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
*.egg-info/

# MacOS
.DS_Store

# IDE
.vscode/
.idea/

# Temporary files
*.tmp
*.log
replacements.txt
settings.toml.clean
